{% extends 'base.html' %}

{% block content %}
<div class="row gx-2 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="container-sm">
            <div class="mb-2">
                <div class="form-control w-100 text-center">
                    <h1>Вы вышли из аккаунта</h1>
                    <a href="{% url 'login' %}" class="btn btn-default btn-full"> Войти в аккаунт </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}