{% extends 'base.html' %}
{% block content %}
<div class="row gx-2 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="mb-2">
            <div class="form-control w-100 text-center">
                 <style type="text/css">
                   input {
                   display: block;
                    border-radius: 25px;
                    width: 100%;
                    padding: 8px 24px;
                    font-size: 18px;
                    line-height: 1.6;
                    color: #fe6074;
                    background-color: #FFF;
                    background-image: none;
                    border: solid 2px #fe6074;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                   }
                   textarea {
                   display: block;
                    border-radius: 25px;
                    width: 100%;
                    padding: 8px 24px;
                    font-size: 18px;
                    line-height: 1.6;
                    color: #fe6074;
                    background-color: #FFF;
                    background-image: none;
                    border: solid 2px #fe6074;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                   }
                    label {
                        color: #000000;
                    }
                 </style>
                <h1>Вход в аккаунт</h1>
                {% if form.errors %}
                    <p>Неверный имя пользователя и пароль.</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                    {% else %}
                          <p>Please login to see this page.</p>
                     {% endif %}
                {% endif %}
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                    <table>
                        <tr>
                          <td>{{ form.username.label_tag }}</td>
                          <td>{{ form.username }}</td>
                        </tr>

                        <tr>
                          <td>{{ form.password.label_tag }}</td>
                          <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input class="mb-2 mt-2" type="submit" value="Войти" />
                    <input  type="hidden" name="next" value="{{ next }}" />
                    <a class="btn btn-default btn-full" href="{% url 'password_reset' %}">Сбросить Пароль</a>
                </form>
            </div>
        </div>
	</div>
</div>
{% endblock content %}