{% extends 'base.html' %}
{% block content %}
<div class="row gx-2 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="mb-2">
            <div class="form-control w-100 text-center">
                 <style type="text/css">
                   input {
                   display: block;
                    border-radius: 25px;
                    width: 100%;
                    padding: 8px 24px;
                    font-size: 18px;
                    line-height: 1.6;
                    color: #fe6074;
                    background-color: #FFF;
                    background-image: none;
                    border: solid 2px #fe6074;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                   }
                 </style>
                {% if validlink %}
                     <p>Пожалуйста введите и подтвердите новый пароль.</p>
                    <form action="" method="post">{% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">Новый пароль:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Подтверждение пароля:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input class="btn btn-default btn-full" type="submit" value="Сбросить пароль"/></td>
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <h1>Не удалось сбросить пароль</h1>
                    <p>Ссылка восстановления пароля была не верной или она уже была использована. Пожалуйста запросите сброси пороля заново.</p>
                {% endif %}

            </div>
        </div>
	</div>
</div>
{% endblock content %}