{% extends 'base.html' %}
{% block content %}
<div class="row gx-2 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="container-sm">
            <div class="mb-2">
                <div class="form-control w-100 text-center">
                     <style type="text/css">
                       input {
                       display: block;
                        border-radius: 25px;
                        width: 100%;
                        padding: 8px 24px;
                        font-size: 18px;
                        line-height: 1.6;
                        color: #fe6074;
                        background-color: #FFF;
                        background-image: none;
                        border: solid 2px #fe6074;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                       }
                     </style>
                    <h1>Сброс пароля</h1>
                    <form action="" method="post">{% csrf_token %}
                         {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                         <p> Почта: {{ form.email }} </p>
                         <button class="btn btn-default btn-full" type="submit">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content %}