{% extends 'base.html' %}
{% block content %}
<section class="main-content">
		<div class="container-xl">
			<div class="row gy-4">
				<div class="col-lg-8">
					<!-- section header -->
                    <!--  Category-->
					<div class="section-header">
						<h3 class="section-title">Editor’s Pick</h3>
					</div>
					<div class="padding-30 rounded bordered">
						<div class="row gy-5">
							<div class="col-sm-6">
								<!-- post first-->
								<div class="post">
									<h5 class="post-title mb-3 mt-3"><a href="blog-single.html">15 Unheard Ways To Achieve Greater Walker</a></h5>
									<p class="excerpt mb-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
								</div>
							</div>
                            <!-- rest posts -->
							<div class="col-sm-6">
								<!-- post -->
								<div class="post post-list-sm square">
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">3 Easy Ways To Make Your iPhone Faster</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="spacer" data-height="50"></div>
                </div>
            </div>
        </div>
</section>

{% endblock %}