{% extends 'base.html' %}
{% load auth_extras %}

{{tag.name}}

{% block content %}
<h1> Тэг {{tag.name}} </h1>
	<div class="padding-30 rounded bordered">
		{% if request.user|has_group:"manager" %}
			<div class="mb-4">
				<a class="btn btn-default" href='{% url "tag:edit" tag.pk %}'>Редактировать тэг</a>
				<a class="btn btn-default" href='{% url "tag:delete" tag.pk %}'>Удалить тэг</a>
			</div>
		{% endif %}

		<div class="row">
			{% if posts %}
			{% for post in posts %}
				<div class="col-md-12 col-sm-6">
					<div class="post post-list clearfix">
						<div class="thumb rounded">
							<span class="post-format-sm">
								<i class="icon-picture"></i>
							</span>
							<a href="{% url 'post:detail' post.id %}">
								<div class="inner">
									<img src="https://s.ftcdn.net/v2013/pics/all/curated/0jF1GcYgKK4FQ8CkIjW4jXx20m2pC3Q2_cover_580.jpg?r=4a2f9cdc0102872f02841d05249fee8ef6db42f4" alt="post-title">
								</div>
							</a>
						</div>
						<div class="details">
							<ul class="meta list-inline mb-3">
								<li class="list-inline-item"><a href='{% url "category:detail" post.category.pk %}'> {{ post.category }} </a></li>
								<li class="list-inline-item"> {{ post.publish }} </li>
							</ul>
							<h5 class="post-title"><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h5>
							<p class="excerpt mb-0"> {{ post.body|truncatewords:50 }} </p>
						</div>
					</div>
				</div>
		  {% endfor %}
		</div>
	</div>
{% else %}
	<p>Нет доступных тэгов.</p>
{% endif %}
{% endblock %}

